  .photo
  {
  	position: absolute;
  	top:-310px;
  	left:-250px;
  	
  }
  .photo2
  {
position: absolute;
  	top:10px;
  	left:-245px;
  	padding-top:50px;
  	
  }
  .photo3
  {
  	position: absolute;
  	top:10px;
  	left:40px;
  	padding-top:50px;
  	
  }
  .photo4
  {
  	position: absolute;
  	top:20px;
  	left:-280px;
  	padding-top:100px;
  	
  }
  .photo5
  {
  	position: absolute;
  	top:-400px;
  	left:-250px;
  	padding-top:10px;
  	
  }
   .photo6
  {
  	position: absolute;
  	top:-230px;
  	left:-110px;
  	
  	
  }
   .photo7
  {
  	position: absolute;
  	top:-30px;
  	left:-250px;
  	padding-top:10px;
  	
  }
   .photo9
  {
  	position: absolute;
  	top:-430px;
  	left:-550px;
  	
  	
  }
    .photo10
  {
  	position: absolute;
  	top:-430px;
  	left:-5px;
  	
  	
  }
    .photo11
    {
  	position: absolute;
  	top:-220px;
  	left:-450px;
  	
  	
  }
 .photo12
    {
  	position: absolute;
  	top:-220px;
  	left:-60px;
  	
  	
  }
   .photo13
    {
  	position: absolute;
  	top:-220px;
  	left:10px;
  		
  }
  .photo14
  {
  	position: absolute;
  	top:-150px;
  	left:-550px;
  }
  .photo15
  {
  	position: absolute;
  	top:-150px;
  	left:-80px;
  }
    .photo16
  {
  	position: absolute;
  	top:-150px;
  	left:10px;
  }
     .photo17
  {
  	position: absolute;
  	
  	left:-450px;
  }
        .photo21
  {
  	position: absolute;
  	top:-400;
  	left:-250px;
  }
        .photo22
  {
  	position: absolute;
  	top:-300;
  	left:-120px;
  }
         .photo23
  {
  	position: absolute;
  	top:-200;
  	left:-250px;
  }
          .photo24
  {
  	position: absolute;
  	top:-100;
  	left:-300px;
  }
          .photo25
  {
  	position: absolute;
  	top:0;
  	left:-330px;
  }
           .photo26
  {
  	position: absolute;
  	top:-480;
  	left:-420px;
  }
            .photo27
  {
  	position: absolute;
  	top:-480;
  	left:420px;
  }
            .photo28
  {
  	position: absolute;
  	top:-300;
  	left:-180px;
  }
             .photo29
  {
  	position: absolute;
  	top:-200;
  	left:-120px;
  }
             .photo30
  {
  	position: absolute;
  	top:-100;
  	left:-250px;
  }
               .photo31
  {
  	position: absolute;
  	top:-280;
  	left:-300px;
  }
                .photo32
  {
  	position: absolute;
  	top:-180;
  	left:-260px;
  }
                .photo33
  {
  	position: absolute;
  	top:-80;
  	left:-260px;
  }
 .photo35
 {
 	position: absolute;
  	top:-280;
  	left:-360px;
 }
  .photo36
 {
 	position: absolute;
  	top:-280;
  	left:-220px;
 }
  .photo37
 {
 	position: absolute;
  	top:-280;
  	left:100px;
 }
   .photo38
 {
 	position: absolute;
  	top:-150;
  	left:-360px;
 }